
.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar .navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex; /* Align child items in a row */
    align-items: center; /* Vertically center child elements */
    gap: 20px; /* Add spacing between items */
    position: relative;
}



.navbar button {
    padding: 5px 10px; /* Adjust padding for better appearance */
    font-size: 16px; /* Match the size of other elements */
    background-color: transparent; /* Optional: Match background with navbar */
    border: 1px solid tomato; /* Add a border for styling */
    color: #49557e; /* Match text color */
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}


.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}


@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar ul li{
        display: none; /* Completely hide the navbar */
    }
    
}